body{
    background-image: url("../media/table.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}
header{
    z-index: 99999;
    top:0px;
    background-color: #a98b73;
    font-size: 30px;
    line-height: 50px;
    padding-left: 3%;
    padding-right: 81.4%;
    height: 50px;
    color: white;
    position:fixed;
}
header div{
    display: inline;
}
a{
    text-decoration:none;
    padding: 10px;
    opacity: 1;
    color: white;
}
a:visited{
    color:rgb(255, 255, 255);
}

a:hover{
    opacity: 0.3;
}
.fir{
    background-color:rgb(39, 211, 211,0);
    color: white;
}
#name{
    margin: 20% 0px 0px 5%;
    font-size: 100px;
}
#department{
    font-size: 70px;
    margin: 0px 0px 22% 5%;
}
.layer{
    display: flex;
    margin: 0px;
}
.content{
    background-color: #fffaf0;
    margin: 0px;
}
#picture{
    margin: 2% 1% 2% 5%;
}
#aboutme{
    font-size: 50px;
    font-weight: bold;
    line-height: 400%;
    padding-left: 5%;
    margin: 0px;
}
#text{
    font-size: 30px;
    padding-left: 5%;
    padding-right: 19%;
    margin: 0px;
}
#about{
    font-size: 30px;
    padding: 0% 19% 10%  12%;
}
.end{
    padding-bottom: 1%;
    color: white;
    background-color: #c5ab89;
    display:flex;
}
.icon{
    margin-top: 15px;
    width: 40px;
    height: 40px;
}
#fb{
    margin: 10% 10% 0% 200%;
    display: flex;
    font-size: 20px;
    white-space:nowrap;
}
#phone{
    margin: 10% 10% 0% 200%;
    display: flex;
    font-size: 20px;
    white-space:nowrap;
}
#mail{
    margin: 10% 10% 0% 200%;
    display: flex;
    font-size: 20px;
    white-space:nowrap;
}
.end p{
    padding-left: 15px;
}
.end a{
    margin: 50% 10% 0% 1400%;
    font-size: 20px;
    display: flex;
}