body{
    background-color: black;
}
header{
    background-color: rgb(191, 244, 112);
    font-size: 30px;
    line-height: 50px;
    padding-left: 3%;
    height: 50px;
}
header div{
    display: inline-block;
    padding: 0px 1%;
}
.link{
    opacity: 1;
}
.link:hover{
    opacity: 0.3;
}
.fir{
    text-align:center;
    background-color:rgb(39, 211, 211);
    color: #000;
}
#name{
    margin: 0px;
    font-size: 70px;
}
#department{
    font-size: 40px;
    margin: 0px;
}
.layer{
    display: flex;
    margin: 0px;
}
.content{
    background-color: rgb(238, 185, 12);
    margin: 0px;
}
#picture{
    margin: 3% 1% 2% 12%;
}
.right{
    font-size: 40px;
    line-height: 500%;
    padding-left: 15%;
    padding-top: 4%;
}
#about{
    font-size: 30px;
    padding: 0% 19% 15%  12%;
}
